.camera, .zoomedcamera{
	width: auto!important;
	height: auto!important;
}
#viewCameras .camera img {
	width: 320px;
	height: 200px;
}

#viewCameras .zoomedcamera img {
	width: 640px;
	height: 400px;
}
#viewCameras li.camera b, 
#viewCameras li.zoomedcamera b {
	position: relative!important;
	font-size: medium;
}