#viewCameras .camera, 
#viewCameras .zoomedcamera{
	width: auto!important;
	height: auto!important;
	border: 2pt solid #2A568E;
}
#viewCameras .camera img {
	width: 320px;
	height: 200px;
}

#viewCameras .zoomedcamera img {
	width: 640px;
	height: 400px;
}
#viewCameras li.camera b, 
#viewCameras li.zoomedcamera b {
	position: relative!important;
	font-size: medium;
}

#viewCameras div.tools a {
	display: inline;
	width: auto;
}

div.tools button {
	margin: 0px;
}
div.tools button.record {
	margin-right: 10px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
button.default {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
span.filters button:first-child{
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
span.filters button:last-child{
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.ui-widget-header {
	/*border: 1px solid #aaaaaa;
	background: #cccccc; 
	color: #222222; 
	border-radius: 4px;
	*/
	margin: 2px;
}
.ui-widget-header button {
	font-weight: bold;
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	font-weight: normal;
	color: #555555;
}
.ui-widget-header button:hover {
	border: 1px solid #ababab;
}

img.preload {
	visibility: hidden;
}
li.recording  {
	animation: blink 1s step-start 0s infinite;
	-webkit-animation: blink 1s step-start 0s infinite;
}
@keyframes blink {  
	0% { border: 2pt solid #2A568E; }
	50% { border: 2pt solid red; }
	100% { border: 2pt solid gray; }
}
@-webkit-keyframes blink {
	0% { border: 2pt solid #2A568E; }
	50% { border: 2pt solid red; }
	100% { border: 2pt solid gray; }
}
