.camera, .zoomedcamera{
	width: auto!important;
	height: auto!important;
}
.camera img {
	width: 320px;
	height: 200px;
}

.zoomedcamera img {
	width: 640px;
	height: 400px;
}
.camera b, 
.zoomedcamera b {
	position: relative;
}